body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.logo {
    width: 120px; 
    height: auto;
    display: block;
    margin: 0 auto;
    margin-left: 20px;
}


.navbar 
{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    margin-right: 30px;
    font-weight: bold;
}

.navbar a:hover {
    color: #3a86ff; 
    text-decoration: none; 
    border-bottom: 2px solid currentColor; 
    padding-bottom: 2px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}


.contact-container {
    width: 55%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.contact-container p {
    font-size: 18px; 
    margin-bottom: 10px; 
    margin-left: 10px;
}

label {
    display: block;
    margin: 12px 5px 5px 10px;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #333;
}

.response-message {
    text-align: center;
    margin-top: 15px;
    color: green;
}

footer {
    text-align: center;
    background: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
